.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px 30px;
  width: 75%;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: rgba(7, 27, 82, 1);
  border-radius: 500px;
  font-size: 1.75rem;
  color: rgb(255, 255, 255)
}

::placeholder{
  color: #fff
}